{# CAROUSEL #}
<div class="hero-carousel" data-indicators="true" itemscope itemtype="http://schema.org/ImageGallery" role="listbox">
  <div class="carousel-item active" itemprop="associatedMedia" itemscope itemtype="MediaObject">
    <img src="images/bg__hero_smoothie--lg-lowres.jpg" data-lazy="images/bg__hero_smoothie--lg.png" alt="First slide" class="carousel-img hidden-sm-down" itemprop="http://schema.org/image">
    <img src="images/bg__hero_smoothie--xs-lowres.jpg" data-lazy="images/bg__hero_smoothie--xs.png" alt="First slide" class="carousel-img hidden-md-up" itemprop="http://schema.org/image">
  </div>
  <div class="carousel-item" itemprop="associatedMedia" itemscope itemtype="MediaObject">
    <img data-lazy="images/bg__hero_smoothie--lg.png" alt="First slide" style="filter: grayscale(1);" class="carousel-img hidden-sm-down" itemprop="http://schema.org/image">
    <img data-lazy="images/bg__hero_smoothie--xs.png" alt="First slide" style="filter: grayscale(1);" class="carousel-img hidden-md-up" itemprop="http://schema.org/image">
    <div class="position-absolute fit-to-parent">
      <div class="row fit-to-parent align-items-center justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8 col-xs-10 text-center" style="max-width:500px;">
          <h1 class="mb-2"><img data-lazy="{{imageDir}}text__2017-group-cleanse.png" alt="2017 Group Cleanse" class="img-fluid"></h1>
          <a href="http://www.cleanprogram.com/group-detox-cleanse" class="btn btn-lg btn-block btn-black hero-button mt-2">Join Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
{# /CAROUSEL #}
