<div class="modal fade" id="modal--primary" tabindex="-1" role="dialog" aria-labelledby="Modal Window" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close modal__btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><img src="{{imagesDir}}{{site.icons.btnClose}}"/></span>
        </a>
      </div>

      <div class="modal-body">
        <div role="video" class="media-container embed-responsive embed-responsive-16by9">
          <iframe width="560" class="embed-responsive-item" height="315" src="https://www.youtube.com/embed/1WFLYNFkW58" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
