{% set form = data.sections.purchaseform %}
<form class="cl-purchase-box card" action="index.html" method="post">
  <div>
    <div class="form-group">
      <h4 class="title text-uppercase">
        {{form.title}}
      </h4>
    </div>
    <div class="form-group">
      <label class="text-muted text-uppercase" for="select-flavor">{{form.flavor.title}}</label>
      <select name="select-flavor" id="select-flavor" class="form-control">
        {% for flavor in form.flavor.items %}
        <option value="{{flavor}}">{{flavor}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label class="text-muted text-uppercase" for="select-quantity">{{form.quantity.title}}</label>
      <select name="select-quantity" id="select-quantity" class="form-control">
        {% for i in range(1, form.quantity.count + 1) -%}
        <option value="{{i}}">{{i}} item{% if i > 1 %}s {% endif %}</option>
        {%- endfor %}
      </select>
    </div>
  </div>
  <div class="bg-color--gray">
    <div class="text-center form-group lead">
      <span class="text-muted">
        ${{form.price}}
      </span>
    </div>
    <div class="form-group text-center">
      <span class="text-muted">
        {{form.cleanseCTA}}
      </span>
    </div>
    <div class="form-group">
      <a href class="btn btn-block btn-warning text-uppercase">
        <i class="{{form.addToCart.iconClass}}" aria-hidden="true"></i>
        {{form.addToCart.buttonText}}
      </a>
    </div>
  </div>
</form>
