{% set footer = global.components.footer %}
{% set imgDir = global.dir.images %}

<footer class="{{footer.id}}">
  <div class="container">
    <div class="row row--no-gutter flex-items-xs-middle flex-items-sm-middle flex-items-md-left">
      <div class="col-md-12">
        <div class="row flex-items-xs-middle flex-items-sm-middle flex-items-md-left mb-1">
          <div class="col-md">
            <ul class="list-unstyled global-footer__social-links">
              {% for link in footer.connect.social.links %}
              <li>
                <a href="{{link.href}}" class="d-block">
                  <img class="img-fluid" src="{{imgDir}}{{link.icon.url}}" alt="{{link.name}} icon" width="{{link.icon.width}}">
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-md-3 hidden-md-down">
            <a href="{{footer.connect.telephone.link.href}}">
              <img src="{{imgDir}}{{footer.connect.telephone.icon.url}}" alt="Call {{footer.connect.telephone.text}}" width="{{footer.connect.telephone.icon.width}}">
              {{footer.connect.telephone.link.text}}
            </a>
          </div>
          <div class="col-md-4 hidden-md-down">
            <a href="{{footer.connect.email.link.href}}">
              <img src="{{imgDir}}{{footer.connect.email.icon.url}}" alt="Call {{footer.connect.email.text}}" width="{{footer.connect.email.icon.width}}">
              {{footer.connect.email.link.text}}
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row flex-items-xs-middle">
      <div class="col-lg-8 col-md-12">
        <div class="row {{footer.nav.id}}">
          {%- for links in footer.nav.links | slice(3) %}
            <ul class="list-unstyled col-md-4 footer-navigation-links footer-navigation__column-{{ loop.index }}">
              {%- for link in links %}
                <li>
                  <a href="{{link.href}}" class="text-uppercase">
                    {{link.text}}
                  </a>
                </li>
              {%- endfor %}
            </ul>
          {%- endfor %}
        </div>
      </div>
      <div class="col-md-6 col-sm-12 hidden-lg-up">
        <a class="d-block" href="{{footer.connect.telephone.link.href}}">
          <div class="media">
            <div class="media-left mr-1">
              <img src="{{imgDir}}{{footer.connect.telephone.icon.url}}" alt="Call {{footer.connect.telephone.text}}" width="{{footer.connect.telephone.icon.width}}">
            </div>
            <div class="media-body">
              {{footer.connect.telephone.link.text}}
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-12 hidden-md-up global-footer__divider-horizontal"></div>
      <div class="col-md-6 col-sm-12 hidden-lg-up">
        <a class="d-block" href="{{footer.connect.email.link.href}}">
          <div class="media">
            <div class="media-left mr-1">
              <img src="{{imgDir}}{{footer.connect.email.icon.url}}" alt="Call {{footer.connect.email.text}}" width="{{footer.connect.email.icon.width}}">
            </div>
            <div class="media-body">
              {{footer.connect.email.link.text}}
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-12 hidden-lg-up global-footer__divider-horizontal mb-2"></div>
      <div class="col-lg-4 col-md-6 ">
        <form class="{{footer.id}}__newsletter">
          <div class="form-group">
            <label for="newsletter-input">{{footer.connect.newsletter.label}}</label>
            <div class="input-group">
              <input type="email" class="form-control" id="newsletter-input" placeholder="you@domain.com">
              <button type="submit" class="input-group-addon btn btn-default--dark">
                <i class="fa fa-caret-right fa-2x fa-fw" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>
