<header class="global global-header">
  <div class="container">
    <div class="container-inner">
      <div class="placeholder-block">
        Global Header
      </div>
    </div>
  </div>
</header>
