$icon-font-path: '../fonts/';
@import "variables";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "grid";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.placeholder-block {
  text-align: center;
  display: flex;
  padding: 40px 0;
  justify-content: center;
  align-items: center;
  background-color: #eee;

  span{
    display: inline-block;
    padding: .5em 1em;
    border: 2px solid;
  }
}
