$icon-font-path: '../fonts/';

$slick-font-path: "../fonts/";
$slick-font-family: "slick";
$slick-loader-path: "./" !default;

@import 'utilities/mixins';
@import 'utilities/variables';
// bower:scss
@import 'bower_components/bootstrap/scss/bootstrap.scss';
@import 'bower_components/slick-carousel/slick/slick.scss';
@import 'bower_components/slick-carousel/slick/slick-theme.scss';
// endbower
@import 'utilities/fonts';
@import 'utilities/grid';
@import 'utilities/helpers';


/*

Components
*/
@import 'components/bg';
@import 'components/media';
@import 'components/headings';
@import 'components/forms';
@import 'components/buttons';
@import 'components/cards';
@import 'components/modals';
@import 'components/lists';
@import 'components/hero-carousel';


@import 'components/purchase-box';
@import 'components/global-header';
@import 'components/primary-navigation';
@import 'components/global-footer';


/*

Pages
*/
@import 'pages/page__template-index';
@import 'pages/page__group-cleanse';
@import 'pages/page__homepage';
