/*

HEADINGS
*/
.heading-text {
  @include futura('book');
}
.heading-text--book {
  @include futura('book');
}
.heading-text--medium {
  @include futura('medium');
}
.heading-text--light {
  @include futura('medium');
}

.section-heading{
  @include futura('medium');
  font-size: 35px;
  margin: 0 0 $grid-gutter-width;
  @include media-breakpoint-down(sm) {
    font-size: 30px;
  }
}

.section-header .section-heading + .section-subheading{
  margin-top: .5em;
  margin-bottom: 0;
}
.section-header{
  position: relative;
  margin: 0 0 #{$grid-gutter-width} 0;
}
.section-header .section-heading{
  @include futura('medium');
  @include letter-spacing('heading');
  text-transform: uppercase;
  margin: 0;
}

.section-header.section-heading--hr{
  text-align: center;
  &:before{
    content: "";
    display: block;
    border: 2px solid $off-black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    left: 0;
    right: 0;
    z-index: 0;
  }
}
.section-header.section-heading--hr .section-heading{
  position: relative;
  background-color: white;
  display: inline-block;
  z-index: 1;
  @include media-breakpoint-up(md) {
    padding: 0 ($grid-gutter-width);
  }
  @include media-breakpoint-down(md) {
    padding: 0 ($grid-gutter-width / 2);
  }
}

.section-header.section-header--bg-blue{
  background-color: $blue;
  color: white;
  padding: 0.75em 0;

  .section-heading,
  .section-subheading {
    margin: 0;
    @include rem('font-size', 32px);
    @include letter-spacing('heading');
    @include proxima('bold');
  }
}

.module-header{
  margin-bottom: $grid-gutter-width / 2;
}
.module-heading{
  @include em('font-size', 24px);
  @include futura('medium');
  @include letter-spacing('heading');
  text-transform: uppercase;
  margin: 0;
}
