/*

Primary Navigation
*/
.primary-navigation{
  flex-basis: 100%;
  border-width: 1px 0;
  border-color: $light-gray;
  border-style: solid;
  padding: 0;

  @include media-breakpoint-up(md) {
    text-align: center;
    .navbar-nav .nav-item + .nav-item{
      margin-left: 0
    }
  }
  @include media-breakpoint-down(md) {
    position: absolute;
    z-index: 5;
    border-width: 0;
    background-color: white;
    width: calc(100% - #{$grid-gutter-width});
    left: 0;
    right: 0;
    margin: 0 $grid-gutter-width;
    box-shadow: inset 0 0 0 1px $light-gray;
    margin: 0 ($grid-gutter-width / 2);
    transform: scale(1, 0);
    transform-origin: top center;
    opacity: 0;
    transition: opacity $transition-speed $transition-ease;
    body.mobile-menu--open &{
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  @include media-breakpoint-between(sm, md) {
    left: auto;
    max-width: 33.3vw;
  }
  &__menu{
    a {
      color: $blue;
    }
    @include media-breakpoint-up(lg) {
      padding: 0 .5em;
      .nav-item{
        padding: 0 1em;
        display: inline-block;
        vertical-align: top;
        position: static;
      }
      .nav-item > a{
        @include futura('bold');
        text-transform: uppercase;
        font-size: .8em;
        letter-spacing: .2em;
        padding: 0.825em 0;
        border-bottom: 1px solid transparent;
        margin-bottom: -1px;
        transition: border-bottom-color $transition-speed $transition-ease, color $transition-speed $transition-ease;
        @include media-breakpoint-up(lg) {
          li:not(.dropdown) &:hover {
            border-bottom-color: currentcolor;
          }
        }
      }
    }
    @include media-breakpoint-down(md) {
      .nav-item{
        display: block;
        vertical-align: top;
        text-align: center;
        padding: 0;
      }
      & > .nav-item + .nav-item {
        border-top: 1px solid $light-gray;
      }
      .nav-item > a{
        @include futura('medium');
        display: block;
        padding: 1.6em 1em;
        text-transform: uppercase;
        font-size: .8em;
        letter-spacing: .2em;

        &:hover{
          background-color: $light-gray;
        }
      }
    }
  }

  .dropdown-toggle{
    position: relative;

    &:after{
      content: "";
      opacity: 0;
      transition: opacity $transition-speed $transition-ease;
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      margin: 0;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      vertical-align: middle;
      border-top: 2em solid transparent;
      border-bottom: 1em solid $light-gray;
      border-right: 1em solid transparent;
      border-left: 1em solid transparent;
      bottom: -1.6em;
    }
  }
  .dropdown > .dropdown-menu{
    display: block;
    opacity: 0;
    transform: translateX(-50%) translateY(-0.125em) scale(1, 0);
    transition: opacity ($transition-speed / 2) $transition-ease;
    transform-origin: top center;
  }
  .dropdown:hover {
    @include media-breakpoint-up(lg) {
      .dropdown-toggle:after{
        opacity: 1;
      }
      & > .dropdown-menu{
        opacity: 1;
        transform: translateX(-50%) translateY(-0.125em) scale(1, 1);
      }
    }
  }

  &__dropdown-menu{
    position: absolute;
    top: auto;
    width: 100%;
    @include em('max-width', 600px);
    left: 50%;
    border: 3px solid $light-gray;
    transform: translateX(-50%) translateY(.5em);

    padding: $grid-gutter-width * 1;

    & .dropdown-link-item .media-body{
      flex-direction: column;
      display: flex;
      justify-content: center;
    }
    & .dropdown-link-item:not(:last-child){
      margin-bottom: 2rem;
    }
    & .dropdown-link-item a:hover{
      text-decoration: none;
    }
    & .dropdown-title{
      color: $link-color;
      font-weight: normal;
    }
    & .dropdown-text{
      @include em('font-size', 12px);
      line-height: 1.4;
      color: #666;
    }
  }
}
.icon-bg{
  display: inline-flex;
  @include em('width', 47px);
  @include em('height', 47px);
  @include em('padding', 3px);

  background-color: $light-gray;
  border: solid 1px $light-gray;
  border-radius: 50%;
  & > img {
    width: 100%;
    max-width: 24px;
    max-height: 24px;
    margin: auto;
  }
  & > svg {
    width: 100%;
    fill: $off-black;
  }
}
