.page__purchase-steps {
  padding: 8em 0;

  .heading-image-container {
    margin-bottom: 8em;
  }
  .heading-image {
    @include media-breakpoint-down('md') {
      margin-bottom: 4em;
    }
    @include media-breakpoint-up('md') {
      margin-bottom: 6em;
    }
  }
}

.purchase-steps--carousel {
  align-self: center;
}
