.page__purchase-steps {
  padding: 8em 0;

  .heading-image-container {
    margin-bottom: 8em;
  }
  .heading-image {
    @include media-breakpoint-down('md') {
      margin-bottom: 4em;
    }
    @include media-breakpoint-up('md') {
      margin-bottom: 6em;
    }
  }
  .price-comparison {
    @include proxima('bold');
    .price {
      @include rem('font-size', 36px);
    }
  }
}

#form__cleanse-together fieldset {
  overflow: hidden;
  position: relative;
  @include rem('font-size', 20px);
  @include proxima('bold');
}

.purchase-steps--carousel {
  align-self: center;
}
