{% macro inputSpinner(name=false, value="0", min=false, max=false, buttonClass=false) %}
<div class="input-group input-spinner" itemscope>
  <input type="button" class="btn btn-default {%if buttonClass %}{{buttonClass}}{% endif %}" role="button" data-role="decrement" value="-" />
  <input
    {% if name %}id="{{name}}"{% endif %}
    {% if name %}name="{{name}}"{% endif %}
    type="number"
    class="form-control"
    value="{{value}}"
    {% if min %}min="{{min}}"{% endif %}
    {% if max %}max="{{max}}"{% endif %}
    role="input"
    match="\d">
  <input type="button" class="btn btn-default {%if buttonClass %}{{buttonClass}}{% endif %}" role="button" data-role="increment" value="+" />
</div>
{% endmacro %}
