// $font | fonts faces from typekit
$heading-font: "futura-pt"; // book:400 | bold:700 | 130k

@mixin font-family-fallback($priority-font-family){
  font-family: $priority-font-family, 'helvetica neue', helvetica, arial, sans-serif;
  font-style: normal;
}

@mixin futura($weight: "book"){
  @if $weight == "book" {
    @include font-family-fallback("futura-pt");
    font-weight: 400;
  } @else if $weight == "light"  {
    @include font-family-fallback("futura-pt");
    font-weight: 300;
  } @else if $weight == "medium"  {
    @include font-family-fallback("futura-pt");
    font-weight: 500;
  } @else if $weight == "bold"  {
    @include font-family-fallback("futura-pt");
    font-weight: 700;
  } @else if $weight == "heavy" {
    @include font-family-fallback("futura-pt");
    font-weight: 700;
  } @else if $weight == "extra bold" {
    @include font-family-fallback("futura-pt");
    font-weight: 800;
  } @else {
    @include font-family-fallback("futura-pt");
    font-weight: 400;
  }
}

@mixin proxima($weight: "regular"){
  font-style: normal;
  @if $weight == "regular" {
    @include font-family-fallback('proxima-nova');
    font-weight: 400;
  } @else if $weight == "medium" {
    @include font-family-fallback('proxima-nova');
    font-weight: 500;
  } @else if $weight == "medium italic" {
    @include font-family-fallback('proxima-nova');
    font-weight: 500;
    font-style: italic;
  } @else if $weight == "semibold" {
    @include font-family-fallback('proxima-nova');
    font-weight: 600;
  } @else if $weight == "semi-bold" {
    @include font-family-fallback('proxima-nova');
    font-weight: 600;
  } @else if $weight == "bold" {
    @include font-family-fallback('proxima-nova');
    font-weight: 700;
  } @else if $weight == "thin" {
    @include font-family-fallback('proxima-nova');
    font-weight: 100;
  } @else {
    @include font-family-fallback('proxima-nova');
    font-weight: 400;
  }
}

/* Handle letter-spacing */
@mixin letter-spacing($kerning: 0){
  @if $kerning == "tight" {
    letter-spacing: 0.05em;
  } @else if $kerning == "heading" {
    letter-spacing: 0.075em;
  } @else if $kerning == "reset" {
    letter-spacing: 0;
  } @else {
    letter-spacing: inherit;
  }
}


/*

BODY
*/

.body-text {
  @include proxima();
}
.body-text--lg {
  @include proxima();
  font-size: 21px;
  & > p{
    font-size: 21px;
  }
}
.body-text--medium{
  @include proxima('medium');
}
