/*

Bootstrap overrides
*/

//_ Spacers
$card-spacer-x:            1.25rem !default;
$card-img-overlay-padding: 1.25rem !default;
$card-columns-sm-up-column-gap: 1.25rem !default;
$alert-padding-x:             1.25rem !default;
$list-group-item-padding-x:             1.25rem !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 481px, //576px,
  md: 641px,
  lg: 961px,
  xl: 1250px
) !default;

//_ Transition attributes
//
$transition-ease: ease-out;
$transition-speed: .2s;

$grid-gutter-width:         30px;
//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

//_ Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width) !default;
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;

//_ Medium screen / desktop
$container-desktop:            (940px + $grid-gutter-width) !default;
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;

//_ Large screen / wide desktop
$container-large-desktop:      (1220px + $grid-gutter-width) !default;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default;
$enable-flex: true;

$border-color: #d7dadf;


//_ Base colors
//_ -------------------------
$white:       #FFFFFF !default;
$black:       #000000 !default;
$blue:        #263675 !default;
$orange:      #eb5c21 !default;
$light-gray:  #e0e5ec !default;
$medium-gray: #f1f1f1 !default;
$dark-gray:   #dbdbdb !default;
$off-black:   #3c3c3c !default;
$dark-red:    #9b280d !default;

//_ Opacity
//_  ------------------------
$Opacity:                      0.6;

//_  Theme Color
//_  ------------------------
$primary-color:               #0f1f66;
$secondary-color:             $medium-gray;
$tertiary-color:              $light-gray;
$warning-color:               $dark-red;
$link-color:                  $blue;
$btn-primary-color:           $white;
$btn-primary-bg:              $primary-color;
$btn-primary-border:          $primary-color;

$btn-warning-color:           $orange;
$btn-warning-bg:              $orange;
$btn-warning-border:          $orange;

$border-radius: 0rem;
