{% extends "layout/_layout.njk" %}
{% block content %}
  {% set imageDir = global.dir.images %}
  {% set data = global.views.cleanseTogether %}

  {% from "macros/_section-header.njk" import sectionHeader %}
  {% from "macros/_media-modal-toggle.njk" import mediaModalToggle %}

  <!-- MAIN -->
  <main role="main" class="main-body page__{{data.id}}">
    {# hero #}
    {# {% set hero = data.sections.hero %}
    {% set video = data.sections.hero.video %}
    {% set modal = data.sections.modals.video %}
    <section class="clearfix container page-section section__hero">
      <div class="row">
        <div class="col-md-12">
          {{ mediaModalToggle(poster = imageDir + hero.video.poster.url, mediaUrl=modal.url) }}
        </div>
      </div>
    </section> #}
    {# /hero #}

    {# group cleanse exclusive content #}
    {% set exclusive = data.sections.exclusiveContent %}
    <section class="clearfix container page-section section__exclusive-content">

      {{ sectionHeader(heading = exclusive.title) }}

      <div class="row row--double-gutter flex-items-xs-center">
        {# exclusive content featured module #}
        <div class="col-xs-12 col-sm-12 col-md-8 flex-md-last flex-xs-first feature-module-container fill-height-or-more">
          <div class="card card-outline--2 fill-height-or-more feature-module">
            <div class="card-img">
              <img class="img-fluid img-fluid--full" src="{{imageDir}}{{exclusive.feature.image.url}}" alt="{{exclusive.feature.image.alt}}">
            </div>
            <div class="row flex-items-xs-center text-xs-center card-block">
              <div class="col-xs-12 col-sm-10 text-wrap">
                <div class="card-block__header">
                  <h4 class="text-xs-center text-uppercase card-heading feature-module__title">
                    {{exclusive.feature.title}}
                  </h4>
                </div>
                <div class="card-text body-text--large feature-module__body">{{exclusive.feature.bodyText}}</div>
              </div>
            </div>
          </div>
        </div>
        {# /exclusive content featured module #}
        {# exclusive content icon modules #}
        <div class="col-xs-12 col-sm-12 col-md-4 flex-items-xs-between icon-modules">
          {% for item in exclusive.items %}
            <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 card card-outline--2 icon-module {{item.className}}">
              <a class="icon-module__link card-block" href="{{item.href}}">
                <div class="icon-container">
                  <img src="{{imageDir}}{{item.image.url}}" class="img-fluid img-fluid--full" alt="{{item.title}} icon" />
                </div>
                <div class="icon-module__overlay text-xs-center">
                  <span class="icon-module__overlay-title text-uppercase heading-text--medium">{{item.title}}</span>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
        {# /exclusive content icon modules #}
      </div>
    </section>
    {# /group cleanse exclusive content #}

    {# let's get social #}
    {% set social = data.sections.social %}
    <section class="clearfix container page-section section__social">

      {{ sectionHeader(heading = social.title) }}

      <div class="row">
        <div class="col-xs-12">
          <div class="row flex-items-sm-center flex-items-xs-center section__social-items">
            {% for item in social.items %}
            <div class="col-xs-10 col-sm-6 col-md-6 col-lg-4 section__social-item">
              <div class="card-block icon-container text-xs-center">
                <img src="{{imageDir}}{{item.icon.url}}" alt="{{item.title}}" width="{{item.icon.width}}" height="{{item.icon.height}}" />
              </div>
              <div class="card-block card-block__header">
                <h4 class="card-heading heading-text--medium text-xs-center">
                  {{item.title}}
                </h4>
              </div>
              <div class="card-block card-body">
                <div class="card-text text-xs-center body-text--lg social-module__body">{{item.bodyText}}</div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    {# /let's get social #}

    {# video #}
    {% set hero = data.sections.cleanProgramDay %}
    {% set video = data.sections.cleanProgramDay.video %}
    {% set modal = data.sections.cleanProgramDay.modal %}
    <section class="clearfix container page-section section__hero">
      <div class="row">
        <div class="col-md-12">
          {{ mediaModalToggle(poster = imageDir + hero.video.poster.url, mediaUrl=modal.url) }}
        </div>
      </div>
    </section>
    {# /video #}
  </main>
  <!-- / MAIN -->
{% endblock %}
