{% extends "layout/_layout.njk" %}
{% block content %}
  {% set data = data.views['groupCleanse'] %}
  {% set product = data.sections.product %}
  {% set join = data.sections.join %}
  {% include "components/header.njk" %}
  <main role="main" class="main-body">
    <!-- video hero -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY"></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- /video hero -->

    <!-- group cleanse product -->
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <img
            src="{{product.image.url}}" class="img-responsive" alt="{{product.image.alt}}">
        </div>
        <div class="col-md-3">
          <form class="cl-purchase-box " action="index.html" method="post">
            <div class="form-group">
              <h4 class="title">
                {{product.title}}
              </h4>
            </div>
            <div class="form-group">
              <label for="select-flavor">{{product.flavor.title}}</label>
              <select name="select-flavor" id="select-flavor" class="form-control">
                {% for i in range(1, product.quantity.count + 1) -%}
                  <option value="{{i}}">{{i}} item{% if i === 1 %}s {% endif %}
                  </option>
                {%- endfor %}
              </select>
            </div>
          </form>
        </div>
      </div>
    </div
    <!-- /group cleanse product -->

  </main>
{% endblock %}
