{% extends "layout/_layout.njk" %}
{% block content %}
  {% set data = data.views['groupCleanse'] %}
  {% set product = data.sections.product %}
  {% set join = data.sections.join %}
  {% set exclusiveContent = data.sections['exclusive-content'] %}


  {% include "components/header.njk" %}
  <main role="main" class="main-body">
    {# video hero #}
    <section class="container page-section">
      <div class="row">
        <div class="col-md-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY"></iframe>
          </div>
        </div>
      </div>
    </section>
    {# /video hero #}

    {# group cleanse product #}
    <section class="container page-section">
      <h2 class="section-header text-center">{{product.title}}</h2>
      <div class="row">
        <div class="col-md-3 col-md-push-9">
          {% include 'components/_purchase-box.njk' %}
        </div>
        <div class="col-md-9 col-md-pull-3">
          <img
            src="{{product.image.url}}" class="img-responsive" alt="{{product.image.alt}}">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {{product.description | safe}}
        </div>
      </div>
    </section>
    {# /group cleanse product #}

    {# group cleanse exclusive content #}
    <section class="container page-section">
      <h2 class="section-header text-center">{{exclusiveContent.title}}</h2>
      <div class="row">
        <div class="col-md-3">
          <div class="embed-responsive embed-responsive-16by9 placeholder-block"><span>icon</span></div>
          <div class="embed-responsive embed-responsive-16by9 placeholder-block"><span>icon</span></div>
          <div class="embed-responsive embed-responsive-16by9 placeholder-block"><span>icon</span></div>
        </div>
        <div class="col-md-9">
          <div class="card">
            <img class="card-img-top" src alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    {# /group cleanse exclusive content #}


  </main>
{% endblock %}
