{% extends "layout/_index-layout.njk" %}
{% block content %}
  {% set data = global.views.index %}
  <div class="h-100  page__template-index">
    <header>
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">{{global.name}}</h1>
          <p class="lead text-muted">{{data.name}}</p>
        </div>
      </section>
    </header>
    <main>
      <div class="container">
        <div class="row align-items-center">
          <div class="col">
            <div class="list-group">
              {% for key, view in global.views %}
                <a href="{% if (view.id === "index") %}#{% else %}{{view.url}}{% endif %}" class="list-group-item {% if (view.id === "index") %} disabled {% else %} list-group-item-action {% endif %}">
                  {{view.name}}
                </a>
              {% else %}
                <span class="list-group-item disabled">No views to display</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="col text-center">
        <p class="text-muted">Clean front-end templates. Powered by Nunjucks, Sass, Gulp, and Babel. Built by
          <a href="http://present-day.co">Present Day</a>
        </p>
      </div>
    </footer>
  </div>
{% endblock %}
