{% extends "layout/_layout.njk" %}
{% block content %}
  {% set imageDir = global.dir.images %}
  {% set data = global.views.purchaseSteps %}

  <!-- MAIN -->
  {# Purchase Steps #}
  {% set bg = data.sections.bg %}
  {% set headingImage = data.sections.headingImage %}
  {% from "macros/_input-spinner.njk" import inputSpinner %}

  <main role="main" class="main-body bg-cover page__{{data.id}}" style="background-image: url({{imageDir}}{{bg.image.url}});">
    <div class="container justify-content-center align-items-center">
      <div class="row">
        <div class="col-sm col-md-10 col-lg-8 text-center m-auto">
          <img
            src="{{imageDir}}{{headingImage.desktop.url}}"
            width="{{headingImage.desktop.width}}"
            height="{{headingImage.desktop.height}}"
            alt="{{headingImage.alt}}"
            class="img-fluid hidden-md-down"
            style="{{headingImage.style}}">
          <img
            src="{{imageDir}}{{headingImage.mobile.url}}"
            width="{{headingImage.mobile.width}}"
            height="{{headingImage.mobile.height}}"
            alt="{{headingImage.alt}}"
            class="img-fluid hidden-lg-up"
            style="{{headingImage.style}}">
        </div>
        <div class="col col-sm-12 col-md-12">
          <!-- cleanse-together form -->
          <form id="form__cleanse-together" class="card text-center" method="post">
            <!-- fieldsets -->
            <fieldset id="step-1">
              <div class="card-block">
                <div class="step-banner">
                  Step 1 of 5
                </div>
                <h2 class="fs-title">Hi</h2>
                <h3 class="fs-subtitle">What's your name?</h3>

                <div class="form-group">
                  <input type="text" name="name" class="form-control form-control-lg" pattern="[a-zA-Z]+" />
                </div>
                <div class="form-group">
                  <a href="#step-3" class="btn btn-lg btn-warning text-uppercase next action-button">
                    Next Step
                  </a>
                </div>
              </div>
            </fieldset>

            <fieldset id="step-2">
              <div class="card-block">
                <h2 class="fs-title">Hi, <u>Lorem</u></h2>
                <h3 class="fs-subtitle">How many people total in your group?</h3>
                <div class="form-group">
                  {{ inputSpinner(name="participant-count", value="1", min="1", inputClass="form-control-lg", buttonClass="btn-default--light") }}
                </div>
                <div class="form-group">
                  <a href="#step-1" class="btn btn-link ">
                    <i class="fa fa-caret-left" aria-hidden="true"></i> Go Back
                  </a>
                </div>
                <div class="form-group">
                  <a href="#step-3" class="btn btn-lg btn-warning text-uppercase next action-button">
                    Next Step
                  </a>
                </div>
              </div>
            </fieldset>

            <fieldset id="step-3">
              <div class="card-block">
                <h2 class="fs-title">Great!</h2>
                <h3 class="fs-subtitle">What flavors would your group like?</h3>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="products-vanilla">
                        Vanilla
                      </label>
                      {{ inputSpinner(name="products-vanilla", value="0", min="0", inputClass="form-control-lg", buttonClass="btn-default--light") }}
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="products-chocolate">
                        Chocolate
                      </label>
                      {{ inputSpinner(name="products-chocolate", value="0", min="0", inputClass="form-control-lg", buttonClass="btn-default--light") }}
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="products-mixed">
                        Mixed
                      </label>
                      {{ inputSpinner(name="products-mixed", value="0", min="0", inputClass="form-control-lg", buttonClass="btn-default--light") }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-block">
                <div class="form-group">
                  <a href="#step-1" class="btn btn-link ">
                    <i class="fa fa-caret-left" aria-hidden="true"></i> Go Back
                  </a>
                </div>
                <div class="form-group">
                  <a href="#step-3" class="btn btn-lg btn-warning text-uppercase next action-button">
                    Next Step
                  </a>
                </div>
              </div>
            </fieldset>

            <fieldset>
              <input type="submit" value="Submit" class="btn btn-lg btn-primary">
            </fieldset>

          </form>
        </div>
      </div>
    </div>
  </main>
  {# /Purchase Steps #}
  <!-- / MAIN -->
{% endblock %}
